body,html{
   
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/*MAIN*/
.clase-principal{
    display: flex;
    padding-top: 40px;
}
/*MAIN*/

@media screen and (max-width:480px) {
  
    .cabecera{
        width: 1300px;
        padding: 0 auto;
    }
    .enlaces{
        width:100%;
    }
    .routers{
        width: 700px;
    }
    .marcas-productos{
        top: 200px;
    }
    .titulo-producto, .caracteristicas, .descripcion{
        width: 550px;
    }
   
}