body,html{
    height:100%;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    
   
}

.header-cabecera{
    width:100%;
    height: 150px;
    text-align: center;
}

.header-cabecera .cabecera img{
    padding: 0 30px;
}

.cabecera p{
    display: inline-block;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.ubiquiti{
    width: 149px; 
    height: 93px;
}

.antenagif{
    width: 149px; 
    height: 93px;
}

.enlaces{
    position: absolute;
    left: 200px;
    top: 200px;
}

.form-busqueda{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    top:49px;  
}

.form-busqueda .input-caja{
    position: absolute;
    width: 300px; 
    height: 25px;
    left: 630px;
    border-radius: 5px;
}

.form-busqueda .input-boton{
    position: absolute;
    width: 100px;
    height: 30px;
    left: 949px;
    text-transform: uppercase;
    font-weight: bold;
    background:lightgreen;
    border:none;
    border-radius: 5px;
    transition: 0.5s background;
    cursor: pointer;
}
.form-busqueda .input-boton:hover{
    background-color: aqua;
}

.productos{
    position: absolute; 
    left: 200px;
    top: 264px;
    width: 50%;
}


/*.items-caracteristicas{
    list-style: none;
}*/

.descripcion{
   
    width: 70%;
    text-align: justify; 
}

.titulo-producto{
   
    width: 100%; 
    font-weight: bold;
}

.titulo-precio{
    position: absolute; 
    padding-bottom: 5px;
    left: 610px; 
    top: 70px; 
}
.titulo-precio a input{
    margin-left: 10px;
    height: 30px;
    width: 100px;
    text-transform: uppercase;
    font-weight: bold;
    background:lightgreen;
    border:none;
    border-radius: 5px;
    transition: 0.5s background;
    cursor: pointer;
}

.titulo-precio a input:hover{
    background-color: aqua;
}
.img-router{
    display: flex;
    flex-direction:column;
    margin: 10px 20px 20px 0;
    width: 330px;
    height:290px;
    border: 2px solid #000;
    border-radius:10px;
}

.img-router:hover{
    border-color:#c78c19;
}

/*.img-router:active{
    border-color:#088c19;
}*/

.routers{
    position: absolute;
     left: 200px; 
     top: 1640px; 
     width: 50%; 
     height: 710px; 
}

.marcas-productos{
    position: absolute;
    left: 1px;
    top: 113px; 
    width: 164px;
    height: 1459px;
}

/*listas precios*/
.listas-pr{
    position: absolute; 
    left: 1150px; 
    top: 1260px; 
    width: 350px; 
    height: 1136px; 
}

.listas-pr .items-pr{
   list-style:none;
}

.listas-pr .items-pr a{
    text-decoration: none;
}

.listas-pr .items-pr a:hover{
    color:#c78c19;
    text-decoration: underline;  
}

.listas-pr ul h4{
    margin: 2px 0 5px 0;
    padding-top: 10px;
}

.items-pr{
    font-weight: bold;
}

/*listas de adaptadores*/
.listas-pr2{
    position: absolute; 
    left: 1150px; 
    top: 590px; 
    width: 350px;
}

.listas-pr2 .items-pr2{
    list-style:none;
}

.listas-pr2 .items-pr2 a{
    text-decoration: none;
}

.listas-pr2 .items-pr2 a:hover{
    color:#c78c19;
    text-decoration: underline;  
}
.listas-pr2 ul h4{
    /*margin-bottom: 5px;
    */
    margin: 2px 0 5px 0;
    padding-top: 10px;
}
.items-pr2{
    font-weight: bold;
}

/*listas precios*/
.listas-pr3{
    position: absolute; 
    left: 1150px; 
    top: 130px; 
    width: 300px;  
}

.listas-pr3 .items-precios a{
    text-decoration: none;
}

.listas-pr3 .items-precios a:hover{
    color:#c78c19;
    text-decoration: underline;  
}

.listas-pr3 ul h4{
    font-size:20px;
    margin: 2px 0 5px 0;
    padding-top: 10px;
}
.items-precios{
    list-style: none;
    font-weight: bold;  
}

/*----------*/

@media screen and (max-width:480px) {
   
    .cabecera{
        width: 1300px;
        padding: 0 auto;
    }
    .enlaces{
        width:100%;
    }
    .routers{
        width: 700px;
    }
    .marcas-productos{
        top: 200px;
    }
    .titulo-producto, .caracteristicas, .descripcion{
        width: 550px;
    }
   
}